h2 {
        font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.homePage {
    margin: 0 3rem;
}

h1, h2 {
    text-align: center;
}

a {
    font-size: 28px;
    text-decoration: none;

}

h3
{
    text-align: center;
}